.page-header {
    background-color: #242424;
    color: #fff;
}

.page-header__logo {
    background: $darkgrey;
    outline: 5px solid red;
    outline-offset: -5px;
    
}

.main-nav {
    outline: 5px solid green;
    outline-offset: -5px;
}

